<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!-- responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- don't treat phone numbers as links -->
<meta name="format-detection" content="telephone=no">
<title>The Great Django Experiment | A Blog</title>
<meta name="author" content="Uncle Lizard">
<meta name="keywords" content="blog, development, python, coding, programming, web development, html, css, news, post, journal">
<!-- Favicon files -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
<link href="ico/favicon.png" rel="shortcut icon">
<!-- ** CSS Files ** -->
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/hamburger-menu.css">
<link rel="stylesheet" href="css/odometer.min.css">
<link rel="stylesheet" href="css/swiper.min.css">
<link rel="stylesheet" href="css/fancybox.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="'" href="'">
</head>

<body>
<!-- Preloader-->
<div class="preloader"></div>
<!-- Transition overlay-->
<div class="transition-overlay">

<!-- Main site content -->
<main>

<!-- ** Navigation menu ** -->
<section class="nav-menu">
<!-- Navigation menu links -->
<ul class="nav-menu">
    <!-- Menu item w/ dropdown -->
    <li><a href="home.html">Menu Item With Dropdown</a>
        <ul class="dropdown">
            <li><a href="dropdown.html">Dropdown Item 1</a></li>
            <li><a href="dropdown.html">Dropdown Item 2</a></li>
            <li><a href="dropdown.html">Dropdown Item 3</a></li>
        </ul>
    </li>
    <!-- Regular menu item -->
    <li><a href=""></a>Regular Menu Item</li>
    <li><a href=""></a>Regular Menu Item</li>
    <li><a href=""></a>Regular Menu Item</li>
</ul>

<!-- Shape overlays -->
<svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path class="shape-overlays__path" d=""></path>
    <path class="shape-overlays__path" d=""></path>
    <path class="shape-overlays__path" d=""></path>
</svg>
<!-- Page header -->
<header>
<!-- Logo -->
    <div class="logo"><img src="images/logo.png" alt="Image"></div>
    <!-- Hamburger menu -->
    <div class="hamburger" id="hamburger">
        <div class="hamburger__line hamburger__line--01">
            <div class="hamburger__line-in hamburger__line-in--01"></div>
        </div>
        <div class="hamburger__line hamburger__line--02">
            <div class="hamburger__line-in hamburger__line-in--02"></div>
        </div>
        <div class="hamburger__line hamburger__line--03">
            <div class="hamburger__line-in hamburger__line-in--03"></div>
        </div>
        <div class="hamburger__line hamburger__line--cross01">
            <div class="hamburger__line-in hamburger__line-in--cross01"></div>
        </div>
        <div class="hamburger__line hamburger__line--cross02">
            <div class="hamburger__line-in hamburger__line-in--cross02"></div>
        </div>
    </div>
</header>
</section>

<!-- ** Hero ** -->
<section class="hero-container">
    <div class="hero">
        <div class="hero-bg">
            <img src="'">
        </div>
        <div class="hero-heading">
            <h1>Django?! I Barely Know Her!</h1>
            <h2>...I apologize for that.</h2>
        </div>
    </div>
</section>

<!-- ** Content ** -->
<section class="content">
    <!-- Posts Container -->
    <div class = "posts-container">
        <div class="post highlight wow fadeInUp">
            <article>
                <time>published: 14.06.2014, 12:14</time>
                <h2><a href="">My first post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </article>

            <article>
                <time>published: 14.06.2014, 12:14</time>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </article>
        </div>
    <!-- End posts container -->
    </div>
<!-- End Content Section -->
</section>
</main>

<!-- Footer -->
<div class="footer">

</div>
<!-- End Footer -->

<!-- Scripts & JS -->


</body>
</html>
